* {
  margin: 0px;
  padding: 0px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
}

body {
  place-items: center;
  padding-top: 1vh;
}

.students-buttons {
  margin-left: auto;
  margin-bottom: 1vh;
}

.students-button{
  &:hover {
    border: 1px solid #0059ff;  
  }

  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #0059ff00;
  cursor: pointer;
  border-radius: 10px;
  display: inline;
  height: 50px;
  width: 50px;
  background-color: #6f9adb;
  background-image: url('./assets/people.svg');
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

.teachers-button{
  &:hover {
    border: 1px solid #0059ff;  
  }

  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #0059ff00;
  cursor: pointer;
  border-radius: 10px;
  display: inline;
  height: 50px;
  width: 50px;
  background-color: #6f9adb;
  background-image: url('./assets/teacher.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  place-items: center;
  max-width: 1300px;
}