* {
    margin: 0px;
    padding: 0px;
}


  // table {
  //   border-collapse: collapse;
  //   border: 2px solid #016ad3;
  //   letter-spacing: 1px;
  //   font-size: 0.8rem;
  // }
  
  // td {
  //   border: 1px solid #3a85cf;
  //   background-color: #016ad3;
  //   height: 50px;
  //   width: 120px;
  //   text-align: center;
  // }
  
  .today-column {
    background-color: #00b7ff;
  }

  .regular-column {
    background-color: #016ad3;
  }