* {
    margin: 0px;
    padding: 0px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
  }

.event-popup-pad {
    opacity: 0;
    animation: ani 0.2s forwards;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    background: #4c80aa98;
    align-content: center;
    justify-items: center;
}   

.event-popup {
    border-radius: 30px;
    height: 400px;
    width: 300px;
    background: #d5cdd6;
}   

.exit-button {
    margin-left: 100%;
    background: none;
    border: none;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }