* {
    margin: 0px;
    padding: 0px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
  }

.popeddown {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #6798d8;
  border: 1px solid #6798d8;
  height: 50px;
  width: 50px;
  border: none;
  
  &:hover {
    border: 1px solid #b9d7ff;
    cursor: pointer;
  }
}

.popedup {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #67d889;
  border: 1px solid #67d889;
  height: 50px;
  width: 50px;
  border: none;
  
  &:hover {
    border: 1px solid #b9d7ff;
    cursor: pointer;
  }
}   

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }