* {
    margin: 0px;
    padding: 0px;
}


table {
  border-collapse: collapse;
  border: none;
  letter-spacing: 1px;
  font-size: 1rem;
}
 
.test {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #6798d8;
  border: 1px solid #6798d8;
  height: 50px;
  width: 50px;
  border: none;
  
  &:hover {
    border: 1px solid #b9d7ff;
    cursor: pointer;
  }
}

td {
  border-bottom: 1px solid #3a85cf;
  border-top: 1px solid #3a85cf;
  height: 55px;
  width: 170px;
  text-align: center;
}
 
.today-column {
  border: 1px solid #3a85cf;
  background-color: #00b7ff;
}

.regular-column {
  border: 1px solid #3a85cf;
  background-color: #016ad3;
}

.add-cell {
  border: none;
}

.add-button {

  &:active {
    font-size: 30px;
  }

  &:hover {
    cursor: pointer;
  }

  transition: 200ms;
  font-size: 50px;
  font-weight: 100;
  height: 50px;
  width: 120px;
  background: none;
  border-radius: none;
  border: none;
}