* {
  margin: 0px;
  padding: 0px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 600;
}

/* 
#root {
  
} */

header {
  padding-left: 20px;
  padding-right: 20px;
  height: 75px;
  place-content: center;
  place-items: center;
  background: #525252
}

main {
  /* align-content: center;
  justify-items: center; */
  place-content: center;
  place-items: center;
  height: 100vh;
}

button {

  &:hover {
    border: 1px solid #ffffff;  
  }

  &:active {
    background: #016ad3;
  }

  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
  border-radius: 20px;
  justify-self: end;
  display: block;
  background: #0073E6;
  height: 50px;
  width: 100px;
}
